* {
    font-family: 'Lato', sans serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    text-decoration: none;
}

;

.body {
    height: 950px; 
}

.home-container {
    min-height: calc(95vh - 20px);
    overflow-y: auto;
    border-radius: 20px 20px;
}

