.form-container {
    .form-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    ;

    .form-link {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        margin: 10px;
        color: $color-text-modal-auth;
        font-size: 18px;
        width: 150px;
        background-color: $background-color-modal-auth;
        border-radius: 20px 20px;
        box-shadow: $shadow;

        &:hover {
            color: $color-hover;
            transform: scale(1.1)
        }
    }

    ;

    .form-modal {
        display: flex;
        justify-content: center;
        padding: 15px;
        color: $color-text-input;
        font-size: 18px;
        height: 300px;
    }

    ;
}

;