.logout-icon-container {
    i {
        display: flex;
        justify-content: flex-end;
        font-size: 22px;
        color: $color-text-navbar;

        &:hover {
            color: $color-hover;
        }

        ;
    }

    ;
}