.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px 10px;
    background: linear-gradient($background-color-footer, $background-color-footer2);
    height: 30px;
    bottom: 0;
    margin-top: 120px;
    // position: absolute; 

    .footer-logo {
        display: flex;
        justify-content: center;
        size: 10px;
        width: 30%;
        height: 25px;
    }

    ;

    h5 {
        display: flex;
        justify-content: center;
        color: $color-text-footer;
        width: 30%;
    }

    ;
}

;