.navbar-container {
    display: flex;
    border-bottom: 3px solid $color-primary;
    padding: 10px;
    background-color: $color-tertiary;

    .navbar-logo-container {
        display: flex;
        justify-content: center;
        width: 15%;
        max-height: 25px;

        .navbar-logo.img {
            display: flex;
            align-items: center;
        }

        ;
    }

    ;

    .navbar-list-links {
        display: flex;
        justify-content: flex-end;
        max-height: 25px;

        .navbar-link {
            display: flex;
            width: 20%;

            &:hover {
                color: $color-secondary;
                transform: scale(1.1)
            }

            ;

            .navbar-NavLink {
                display: flex;
                justify-content: center;
                align-items: center;
                color: $color-text-navbar;

                &:hover {
                    color: $color-secondary;
                    transform: scale(1.1)
                }

                ;

                h3 {
                    display: flex;
                    justify-content: right;
                    font-size: 14px;
                }

                ;
            }

            ;

        }

        ;
    }

    ;

    .navbar-logout {
        display: flex;
        align-items: center;
        padding: 5px;
        width: 15%;
        max-height: 25px;
    }

}

;