.newpost-form-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .newpost-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        width: 50%;
        border-radius: 10px 10px;
        background-color: #4E5166;
    }

    ;

    h3 {
        padding: 10px 30px 10px 30px;
        border-radius: 15px 15px;
        border-bottom: 3px solid #FD2D01;
        margin-bottom: 30px;
    }

    ;

    .newpost-form-input {
        width: 60%;
        border-radius: 15px 15px;
        height: 30px;
        margin: 5px;
    }

    ;

    .newpost-form-input-file {
        width: 40%;
        height: 30px;
        margin: 5px;
    }

    ;

    .newpost-form-textarea {
        border-radius: 10px 10px;
        min-height: 60px;
        width: 80%;
        margin: 5px;
    }

    ;

    .newpost-form-button-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    ;

    .newpost-form-btn-cancel {
        color: #8186a0;
        font-size: 18px;
        border-radius: 15px 15px;
        padding: 10px;
        width: 40%;

        &:hover {
            color: white;
            background: linear-gradient(white, #FD2D01);
            cursor: pointer;
            transform: scale(1.08);
        }

        ;
    }

    ;

    .newpost-form-btn-submit {
        color: #8186a0;
        font-size: 18px;
        border-radius: 15px 15px;
        padding: 10px;
        width: 40%;
        margin: 10px;

        &:hover {
            color: white;
            background: linear-gradient(white, green);
            cursor: pointer;
            transform: scale(1.08);
        }

        ;
    }

    ;

    .newpost-form-error {
        color: red;
        padding-bottom: 5px;
        font-size: 14px;
    }

    ;


}

;